# <center> Data Analytics Case: School Attendance metrics<center>

**Project:**
Data Analytics Case Study

**Author:**
Heber Mauro Ttito Chara

**Last modification:**
2023.01.13


<hr style="height:2px;border-width:0;color:black;background-color:black">

## 0. Importing libraries

In [2]:
import numpy as np
import pandas as pd

## 1. Data cleaning

In [5]:
#Import data
df_attendance=pd.read_excel('Case_Study_-_Student_Absence_-_2022-2023_-_Oct_-_Nov.xlsx', index_col=None)
df_enrollment=pd.read_excel('Case_Study_-_Student_Enrollment.xlsx', index_col=None, usecols="B:C")

In [10]:
df_attendance.head()

,Student ID,Student,Institution,Date,Attendance Per Day,Subjects,Absence Type,Institution Class,Education Grade,Gender
0,83W2407401136T,Reyon,Angola,14-09-2022,NaN,Civics - 11G,NaN,Grade 11-G - Thurston & Wright,Grade 11,Male
1,83W2407401136T,Reyon,Angola,22-09-2022,NaN,English Language- Gibson/K. Cooper,Absence - Unexcused,Grade 11-G - Thurston & Wright,Grade 11,Male
2,83W2407401136T,Reyon,Angola,04-10-2022,Period 1 (Morning),NaN,Absence - Unexcused,Grade 11-G - Thurston & Wright,Grade 11,Male
3,83W2407401136T,Reyon,Angola,04-10-2022,Period 2 (Afternoon),NaN,Absence - Unexcused,Grade 11-G - Thurston & Wright,Grade 11,Male
4,83W2407401136T,Reyon,Angola,04-10-2022,NaN,Mathematics- Daniels,Absence - Excused,Grade 11-G - Thurston & Wright,Grade 11,Male

In [11]:
df_enrollment.head()

  Institution  Enrollment
0     Jamaica         887
1      Malaui         135
2    Mauricio         483
3      Guinea        1230
4       Yemen          53

In [6]:
#Rename columns
df_enrollment.rename(columns={'Enrollment': 'Institution', 'Unnamed: 2': 'Enrollment'}, inplace=True)

In [9]:
#Checking variables and null values
df_attendance.info()
df_enrollment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173106 entries, 0 to 173105
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Student ID          173106 non-null  object
 1   Student             173106 non-null  object
 2   Institution         173052 non-null  object
 3   Date                173106 non-null  object
 4   Attendance Per Day  65155 non-null   object
 5   Subjects            97415 non-null   object
 6   Absence Type        136352 non-null  object
 7   Institution Class   173027 non-null  object
 8   Education Grade     173106 non-null  object
 9   Gender              173106 non-null  object
dtypes: object(10)
memory usage: 13.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Institution  54 non-null     object
 1   Enrollment   54 non-null     int64
dtypes: int64(1), object(1)
memory usage: 992.0+ bytes

The variables Institution, Data, Attendance Per Day, Subjects, Absence Type, and Institution Class have nulls values

### Variables analysis

In [18]:
#Summary of attendance variables
df_attendance.describe()

,Student ID,Student,Institution,Date,Attendance Per Day,Subjects,Absence Type,Institution Class,Education Grade,Gender
count,173106,173106,173052,173106,65155,97415,136352,173027,173106,173106
unique,38665,21359,146,85,2,3949,3,1134,28,2
top,83W1601496548T,Shaon,Senegal,29-08-2022,Period 1 (Morning),Grammar and Usage,Absence - Unexcused,Grade 7-A,Grade 8,Male
freq,16,411,8112,11639,33092,3177,102647,2193,22355,87188

The spreadsheets did not came with a dictionary. Attendance dictionary created from observation:

Student ID: ID code that identifies a student.

Student: First name of the student.

etc completar

In [17]:
df_attendance['Institution'].value_counts()

Senegal           8112
Guinea            6884
Jamaica           6710
Níger             6422
Argelia           6280
                  ...
Vietnam             16
Uzbekistán          14
Timor Oriental      10
Azerbaiyán          10
Bulgaria             8
Name: Institution, Length: 146, dtype: int64

## 2. Diagnosis of the country’s current attendance and attendance rates

You must explain your calculation methods.

## 3. Assessment of the country’s current attendance and attendance rates evolution

Include some hypotheses to explain the country’s attendance and attendance trends and justify them using descriptive methods.

## 4. Estimated attendance and attendance trajectory

Justify the methodology used in the estimation and specify the bias assumed with the methodology chosen and justify the choice.